In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!pip install scipy

In [4]:
file = "korelasi.csv"

df = pd.read_csv(file, sep = ';')

df

   Country/Territory Code  Year  Cardiovascular Diseases  population
0          Indonesia  IDN  1990                   278302   181413402
1          Indonesia  IDN  1991                   285751   184591903
2          Indonesia  IDN  1992                   294517   187739786
3          Indonesia  IDN  1993                   303860   190851175
4          Indonesia  IDN  1994                   312544   193917462
5          Indonesia  IDN  1995                   321557   196934260
6          Indonesia  IDN  1996                   331193   199901228
7          Indonesia  IDN  1997                   342414   202826446
8          Indonesia  IDN  1998                   354220   205724592
9          Indonesia  IDN  1999                   366292   208615169
10         Indonesia  IDN  2000                   380554   211513823
11         Indonesia  IDN  2001                   394941   214427417
12         Indonesia  IDN  2002                   410020   217357793
13         Indonesia  IDN  2003                   424879   220309469
14         Indonesia  IDN  2004                   440056   223285676
15         Indonesia  IDN  2005                   455437   226289470
16         Indonesia  IDN  2006                   469704   229318262
17         Indonesia  IDN  2007                   484163   232374245
18         Indonesia  IDN  2008                   500374   235469762
19         Indonesia  IDN  2009                   514806   238620563
20         Indonesia  IDN  2010                   527322   241834215
21         Indonesia  IDN  2011                   540490   245116206
22         Indonesia  IDN  2012                   558106   248452413
23         Indonesia  IDN  2013                   573039   251806402
24         Indonesia  IDN  2014                   587184   255129004
25         Indonesia  IDN  2015                   603096   258383256
26         Indonesia  IDN  2016                   614602   261554226
27         Indonesia  IDN  2017                   626883   264645886
28         Indonesia  IDN  2018                   639224   267670549
29         Indonesia  IDN  2019                   651481   270625567

In [6]:
x = df['Cardiovascular Diseases']

x

0     278302
1     285751
2     294517
3     303860
4     312544
5     321557
6     331193
7     342414
8     354220
9     366292
10    380554
11    394941
12    410020
13    424879
14    440056
15    455437
16    469704
17    484163
18    500374
19    514806
20    527322
21    540490
22    558106
23    573039
24    587184
25    603096
26    614602
27    626883
28    639224
29    651481
Name: Cardiovascular Diseases, dtype: int64

In [8]:
y = df['population']

y

0     181413402
1     184591903
2     187739786
3     190851175
4     193917462
5     196934260
6     199901228
7     202826446
8     205724592
9     208615169
10    211513823
11    214427417
12    217357793
13    220309469
14    223285676
15    226289470
16    229318262
17    232374245
18    235469762
19    238620563
20    241834215
21    245116206
22    248452413
23    251806402
24    255129004
25    258383256
26    261554226
27    264645886
28    267670549
29    270625567
Name: population, dtype: int64

In [9]:
x.corr(y)

0.9981456849530298

In [11]:
x.corr(y, method = 'spearman')

ModuleNotFoundError: No module named 'scipy'