| <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg" style="height:100px"> | <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg" style="height:150px"> |
| --- | --- |

# PANDAS - Introduction to Pandas

Setelah selesai mempelajari basic Python dan NumPy, maka pada progres belajar selanjutnya adalah mempelajari library lain pada Python yaitu Pandas.
Pandas adalah sebuah library di Python yang berlisensi BSD dan open source yang menyediakan struktur data dan analisis data yang mudah digunakan. Pandas biasa digunakan untuk membuat tabel, mengubah dimensi data, mengecek data, dan lain sebagainya. Pandas library sering digunakan karena kemampuannya untuk mengelola data berbentuk tabel (lebih lanjut disebut dengan dataframe) dimana sebagian besar data science project menggunakan data berbasis tabel. Pandas dibuat berdasarkan satu package lain bernama Numpy, yang mendukung arrays multi dimensi. Sebagai salah satu paket kode Python, Pandas juga dapat digunakan secara optimal dengan modul data science yang lain dalam ekosistem Python.

In [1]:
# Dalam penggunaan Pandas, hal yang pertama kali dilakukan adalah instal Pandas pada Jupyter Notebook terlebih dahulu

In [2]:
!pip install pandas

Requirement already satisfied: pandas in d:\belajar\github\python-100dayschallenge\venv\lib\site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\belajar\github\python-100dayschallenge\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\belajar\github\python-100dayschallenge\venv\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in d:\belajar\github\python-100dayschallenge\venv\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in d:\belajar\github\python-100dayschallenge\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# Setelah terinstal, maka package atau library Pandas dapat dilakukan import untuk memanggil seluruh fungsi yang ada pada Pandas

In [9]:
import pandas as pd

In [10]:
# Setelah melakukan import Pandas, maka kita dapat melakukan berbagai fungsi yang terdapat pada Pandas untuk Data Analisis dan manipulasi data

In [26]:
dataset = {
    'Hewan' : ['Jalak Bali', 'Harimau Sumatera', 'Monyet Hitam Sulawesi'],
    'Jumlah' : [39, 68, 63]
}

df = pd.DataFrame(dataset)
df

                   Hewan  Jumlah
0             Jalak Bali      39
1       Harimau Sumatera      68
2  Monyet Hitam Sulawesi      63

In [30]:
# Pandas juga bisa digunakan untuk membaca data pada beberapa tipe file, seperti CSV, Excel, JSON, dll.
# Untuk membaca data pada Pandas dapat menggunakan fungsi sebagai berikut :


pd.read_csv('station_detail.csv')

,station_id,station_name,region_name,latitude,longitude,region_id,province_id
0,96001,Stasiun Meteorologi Maimun Saleh,Kota Sabang,5.87655,95.33785,20,1
1,96003,Balai Besar Meteorologi Klimatologi dan Geofi...,Kab. Badung,-8.73810,115.17860,272,17
2,96004,Balai Besar Meteorologi Klimatologi dan Geofis...,Kota Makassar,-5.14283,119.45227,412,26
3,96009,Stasiun Meteorologi Malikussaleh,Kab. Aceh Utara,5.22869,96.94749,8,1
4,96011,Stasiun Meteorologi Sultan Iskandar Muda,Kab. Aceh Besar,5.52244,95.41700,6,1
...,...,...,...,...,...,...,...
187,97876,Stasiun Meteorologi Tanah Merah,Kab. Boven Digoel,-6.10000,140.31000,473,32
188,97900,Stasiun Meteorologi Mathilda Batlayeri,Kab Maluku Tenggara Barat,-7.98000,131.30000,440,30
189,97902,Stasiun Geofisika Maluku Tenggara Barat,Kab Maluku Tenggara Barat,-7.98000,131.30000,440,30
190,97978,Stasiun Klimatologi Merauke,Kab. Merauke,-8.38700,140.51700,458,32
191,97980,Stasiun Meteorologi Mopah,Kab. Merauke,-8.52019,140.41568,458,32