In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
file = "meat.csv"

df = pd.read_csv(file, sep = ';')

df

,Entity,Year,kardio,Mutton and Goat (kilograms per year),Other meats (kilograms per person),Poultry (kilograms per year),Pigmeat (kilograms per year),Beef and bufallo (kilograms per year),total consumption,total production,beef and buffalo (Ton),poultry (Ton),pigmeat (Ton)
0,Indonesia,1990,278302,0.51,0.01,2.85,3.06,1.72,8.15,1448400,303500,508700,544500
1,Indonesia,1991,285751,0.52,0.01,3.21,3.17,1.73,8.64,1561110,309700,583500,572000
2,Indonesia,1992,294517,0.54,0.01,3.50,3.17,1.88,9.10,1672410,342000,646600,583000
3,Indonesia,1993,303860,0.59,0.01,3.72,3.31,2.14,9.77,1830496,397512,698634,621500
4,Indonesia,1994,312544,0.52,0.01,4.31,3.46,2.05,10.35,1968320,384657,822675,660000
5,Indonesia,1995,321557,0.49,0.01,4.52,2.95,1.90,9.87,1902682,359462,875700,572000
6,Indonesia,1996,331193,0.50,0.01,4.82,3.04,2.10,10.47,2042139,395865,946979,599500
7,Indonesia,1997,342414,0.54,0.01,4.50,3.17,2.16,10.38,2040824,401003,898636,632500
8,Indonesia,1998,354220,0.40,0.01,3.05,3.06,1.97,8.49,1714577,388942,620521,621500
9,Indonesia,1999,366292,0.38,0.01,3.04,2.67,1.86,7.96,1606676,356876,620184,550000
10,Indonesia,2000,380554,0.38,0.01,3.98,1.98,2.02,8.37,1695263,385795,817740,412500
11,Indonesia,2001,394941,0.44,0.01,4.36,1.97,1.91,8.69,1818411,382329,923520,418000
12,Indonesia,2002,410020,0.59,0.01,5.13,2.16,1.81,9.70,2072829,372599,1104790,467500
13,Indonesia,2003,424879,0.66,0.01,5.21,2.23,1.95,10.06,2190400,410350,1138960,495000
14,Indonesia,2004,440056,0.56,0.01,5.49,2.19,2.28,10.53,2020361,487810,1213121,194683
15,Indonesia,2005,455437,0.53,0.03,5.13,2.46,1.89,10.04,1817008,396757,1147060,173669
16,Indonesia,2006,469704,0.62,0.03,5.66,2.60,2.08,10.99,2062849,439729,1284679,195983
17,Indonesia,2007,484163,0.52,0.05,5.83,2.59,1.88,10.87,2072509,381236,1339925,228905
18,Indonesia,2008,500374,0.49,0.02,5.92,2.73,2.09,11.25,2136669,431543,1380480,209777
19,Indonesia,2009,514806,0.54,0.01,6.04,2.73,2.23,11.55,2204142,443955,1430180,200118
20,Indonesia,2010,527322,0.48,0.01,6.51,2.89,2.43,12.32,2365589,472364,1565600,211993
21,Indonesia,2011,540490,0.47,0.02,6.95,2.96,2.46,12.86,2553807,520664,1693021,224800
22,Indonesia,2012,558106,0.46,0.01,7.16,2.96,2.38,12.97,2658127,545870,1767621,232143
23,Indonesia,2013,573039,0.46,0.01,7.50,2.98,2.59,13.54,2823237,542655,1872482,298440
24,Indonesia,2014,587184,0.41,0.01,6.40,1.14,2.39,10.35,2918667,532907,1972405,302287
25,Indonesia,2015,603096,0.41,0.01,6.62,1.25,2.27,10.56,3049734,542071,2065738,330213
26,Indonesia,2016,614602,0.42,0.01,7.42,1.27,2.61,11.73,3348950,550389,2342634,339609
27,Indonesia,2017,626883,0.46,0.01,7.19,1.24,2.79,11.69,3337013,564017,2301395,344247

In [8]:
unggas_con = df['Poultry (kilograms per year)']

unggas_con

0     2.85
1     3.21
2     3.50
3     3.72
4     4.31
5     4.52
6     4.82
7     4.50
8     3.05
9     3.04
10    3.98
11    4.36
12    5.13
13    5.21
14    5.49
15    5.13
16    5.66
17    5.83
18    5.92
19    6.04
20    6.51
21    6.95
22    7.16
23    7.50
24    6.40
25    6.62
26    7.42
27    7.19
Name: Poultry (kilograms per year), dtype: float64

In [10]:
unggas_prod = df['poultry (Ton)']

unggas_prod

0      508700
1      583500
2      646600
3      698634
4      822675
5      875700
6      946979
7      898636
8      620521
9      620184
10     817740
11     923520
12    1104790
13    1138960
14    1213121
15    1147060
16    1284679
17    1339925
18    1380480
19    1430180
20    1565600
21    1693021
22    1767621
23    1872482
24    1972405
25    2065738
26    2342634
27    2301395
Name: poultry (Ton), dtype: int64

In [11]:
unggas_con.corr(unggas_prod)

0.9512990748640643

In [13]:
sapi_con = df['Beef and bufallo (kilograms per year)']

sapi_con

0     1.72
1     1.73
2     1.88
3     2.14
4     2.05
5     1.90
6     2.10
7     2.16
8     1.97
9     1.86
10    2.02
11    1.91
12    1.81
13    1.95
14    2.28
15    1.89
16    2.08
17    1.88
18    2.09
19    2.23
20    2.43
21    2.46
22    2.38
23    2.59
24    2.39
25    2.27
26    2.61
27    2.79
Name: Beef and bufallo (kilograms per year), dtype: float64

In [15]:
sapi_prod = df['beef and buffalo (Ton)']

sapi_prod

0     303500
1     309700
2     342000
3     397512
4     384657
5     359462
6     395865
7     401003
8     388942
9     356876
10    385795
11    382329
12    372599
13    410350
14    487810
15    396757
16    439729
17    381236
18    431543
19    443955
20    472364
21    520664
22    545870
23    542655
24    532907
25    542071
26    550389
27    564017
Name: beef and buffalo (Ton), dtype: int64

In [16]:
sapi_con.corr(sapi_prod)

0.931310672741051